coverage==7.2.7
dj-database-url==2.0.0
Django==4.2.4
django-appconf==1.0.5
django-configure==0.3.0
django-filter==23.2
django-imagekit==4.1.0
django-templated-mail==1.1.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.2.2
djoser==2.2.0
drf-yasg==1.21.7
environ~=1.0
mixer==7.2.2
pilkit==2.0
Pillow==9.5.0
psycopg2==2.9.6
swagger-spec-validator==3.0.3
